.card{
    background-color: rgb(39, 38, 39) !important;
    border-style: solid !important;
    width: 12rem !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;

};

.card-title{
    color: azure !important;
};

